<div *ngIf="viewMode; else editable">
    <div *ngIf="currentCustomer.id">
      <h4>Customer</h4>
      <div>
        <label><strong>First Name:</strong></label> {{ currentCustomer.firstName }}
      </div>
      <div>
        <label><strong>Last Name:</strong></label>
        {{ currentCustomer.lastName }}
      </div>
      <div>
        <label><strong>Email:</strong></label>
        {{ currentCustomer.email }}
      </div>
  
      <a
        class="btn btn-warning"
        routerLink="/customer/{{ currentCustomer.id }}"
      >
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentCustomer">
      <br />
      <p>Please click on a Customer...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentCustomer.id" class="edit-form">
      <h4>Customer</h4>
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            [(ngModel)]="currentCustomer.firstName"
            name="firstName"
          />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            [(ngModel)]="currentCustomer.lastName"
            name="lastName"
          />
        </div>
  
        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              [(ngModel)]="currentCustomer.email"
              name="email"
            />
          </div>
      </form>
      <br/>
      <button class="btn btn-danger mr-2" (click)="deleteCustomer()">
        Delete
      </button>
      &nbsp;&nbsp;
      <button
        type="submit"
        class="btn btn-success mr-2"
        (click)="updateCustomer()"
      >
        Update
      </button>
      &nbsp;&nbsp;
      <a
        class="btn btn-warning"
        routerLink="/customer"
      >
        Cancel
      </a>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentCustomer.id">
      <br />
      <p>Cannot access this Customer...</p>
    </div>
  </ng-template>